@import "tailwindcss";
.container{
    max-width: 1142px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
body{
    height: 500vh;
}
img{
    max-width: 100%;
    max-height: 100%;
}